<table class="table table-bordered table-dark w-75 mx-auto">

	<tr class="text-warning">
		<th>Image</th>
		<th>Title</th>
		<th>Price</th>
	</tr>
	{{#if products}}

		{{#each products}}

			<tr>
				<td><img class="productImg" src={{this.imageUrl}} alt="Img" /></td>
				<td>{{this.title}}</td>
				<td>{{this.price}}</td>
			</tr>

		{{/each}}

	{{else}}
		<tr>
			<td colspan="4">

				<h3>No products found.</h3>
			</td>

		</tr>
	{{/if}}
</table>