<html lang="en">
	<head>
		<title>Form</title>
		<%- include("../partials/head") %>
	</head>
	<body>
		<h1 class="text-center mb-5">Load Products</h1>

		<%- include("../partials/form") %>
	</body>
</html>
