<html lang="en">
	<head>
		<title>Products</title>
		<%- include("../partials/head") %>
	</head>
	<body>
		<h1 class="text-center mb-5">Products</h1>

		<%- include("../partials/productsTable") %>
	</body>
</html>
